@font-face{
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    src: url("../fonts/opensans.ttf");
}
body{
    margin: 0 auto;
    font-family: OpenSans-Bold, sans-serif;
}

.cont{

}
/*ХЕДЕР*/

.top-head{
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #1d2124;
    color: white;

}

.logo-img{
    display: inline-block;

    background-image: url("../image/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1a1d20;
    width: 80px;
    height: 70px;
}

.logo-title{
    display: inline-block;

    vertical-align: top;
    padding-top: 24px;

}

.button-nav{
    padding: 27px;

    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;

}

.box-search{
    width: 148px;
    height: 74px;
}
.search{
    display: inline-block;
    margin-left: 73px;
    padding: 26px 30px;
    background: #1a1d20;
    color: white;
}

/*Паралакс???*/

.first-bgc {
    height: 270px;
    padding-top: 120px;

    display: flex;
    align-items: center;
    flex-direction: column;

    background: url("../image/header-bg-im1.png") no-repeat fixed;
    background-size: cover;
    background-position-y: bottom;
}

.first-bgc-title{
    margin-bottom: 45px;
    color: white;

    font-size: 27px;
    font-weight: 100;
    text-align: center;
}

.top-button{
    width: 365px;
}

.first-bgc-button-first, .first-bgc-button-second{
    display: inline-block;
    padding: 18px 0;
    width: 170px;
    text-align: center;
    border-radius: 4px;

    text-decoration: none;
    color: white;
    font-family: OpenSans,sans-serif;
    font-size: 18px;
}

.first-bgc-button-first{
    background-color: #89ca62;
    margin-right: 20px;
}

.first-bgc-button-second{
    background-color: #14b9d5;
}

/*Первая часть - каталог*/

.most-popular-div{
    background-color: #f2f2f2;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-box{
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-align: center;
}

.first-catalog{
    height: 850px;
    width: 1170px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.item-first-catalog{
    margin: 0 30px 30px 0 ;
}

.first-catalog-item-text{
    display: inline-block;
    width: 370px;
    padding: 20px 0;
    background-color: white;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 18px;
    text-align: center;
}

.first-item-first-catalog{
    width: 370px;
    height: 260px;
    /*margin-bottom: 20px;*/
    background-image: url("../image/post-1.png");

}

.second-item-first-catalog{
    width: 370px;
    height: 380px;
    /*margin-bottom: 20px;*/
    background-image: url("../image/post-2.png");
}

.third-item-first-catalog{
    width: 370px;
    height: 290px;
    /*margin-bottom: 20px;*/
    background-image: url("../image/post-3.png");
}

.four-item-first-catalog{
    width: 370px;
    height: 260px;
    /*margin-bottom: 20px;*/
    background-image: url("../image/post-4.png");
}

.five-item-first-catalog{
    width: 370px;
    height: 247px;
    /*margin-bottom: 20px;*/
    background-image: url("../image/post-5.png");
}

.sics-item-first-catalog{
    width: 370px;
    height: 380px;
    /*margin-bottom: 20px;*/
    background-image: url("../image/post-6.png");
}

/*Вторй паралакс*/


.second-bgc{
    height: 390px;
    padding-top: 200px;

    background: url("../image/Shape 23.png") no-repeat fixed;
    background-size: cover;
    background-position-y: bottom;
}

.second-bgc-title{
    color: white;

    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.second-bgc-title:after {
    content: '';
    display: block;
    margin: 60px auto;
    border: 3px solid #169cb4;
    width: 60px;
}

.second-bgc-logo-box{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 222px 135px 172px 141px;
    grid-gap: 8vw;
}

.sb-logo-nation{
    width: 222px;
    height: 30px;
    background-image: url("../image/Layer 3.png");
    background-size: cover;
}

.sb-logo-dryme{
    width: 135px;
    height: 50px;
    background-image: url("../image/Layer 4.png");
    background-size: cover;
}

.sb-logo-house{
    width: 172px;
    height: 42px;
    background-image: url("../image/Layer 5.png");
    background-size: cover;
}

.sb-logo-journy{
    width: 141px;
    height: 52px;
    background-image: url("../image/Layer 6.png");
    background-size: cover;
}

/*TOP-RATE*/

.top-rate-gallery{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 50px;
    grid-gap: 0;
}

.trg-image{
    width: 100%;
    /*height: 100%;*/
}

/*HOT NEWS*/

.container-hot-news{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 260px 420px 420px 260px;
    grid-gap: 40px;
    margin-bottom: 70px;

}

.hn-1-row{
    display: grid;
    grid-template-columns: 855px 280px;
    grid-gap: 35px;
}

.cell-1-1{
    display: grid;
    grid-template-columns: 485px 370px;
}

.cell-1-1-foto{
    background-image: url(../image/hn-1.png);
    background-size: cover;
}

.cell-1-1-text{
    padding: 20px 25px 20px 25px;
    background-color: #f9f7f7;
    text-align: right;
}

.hn-subtitle{
    font-size: 18px;
    text-align: right;
    margin: 12px;
}

.cell-1-2>h4{
    text-align: center;
    margin: 14px;
}

.hn-text{
    font-size: 14px;
    text-align: right;
}

.cell-1-2{
    background-color: #f9f7f7;
    text-align: center;
}

.hn-2-3-row{
    display: grid;
    grid-template-columns: 555px 555px;
    grid-gap: 60px;
}

.cell-2{
    display: grid;
    grid-template-rows: 260px 158px;
}

.cell-2-foto{
    /*background-image: url(../image/hn-2-1.png);*/
    /*background-size: cover;*/
}

.cell-2-text{
    padding: 0 20px 20px 20px;
    background-color: #f9f7f7;
    text-align: right;
}

.hn-4-row{
    display: grid;
    grid-template-columns: 280px 855px;
    grid-gap: 35px;
}

.cell-4-1{
    background-color: #f9f7f7;
    text-align: center;
}

.cell-4-2{
    display: grid;
    grid-template-columns: 485px 370px;
}

.cell-4-2-foto{
    background-image: url(../image/hn-4-2.png);
    background-size: cover;
}

.cell-4-2-text{
    padding: 20px 25px 20px 25px;
    background-color: #f9f7f7;
    text-align: right;
}

.cell-4-1>h4{
    text-align: center;
}

footer{
    height: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 500px 105px;
    grid-gap: 560px;
    background-color: #1d2124;
}

.rights{
    font-size: 13px;
    color: white;
}

.footer-logo{
    display: grid;
    grid-template-columns: 40px 65px;
    grid-gap: 5px;
}

.btn-top {
    display: none;
    padding: 55px 32px;
    border-radius: 50%;
    border: 6px solid greenyellow;
    color: white;
    background-color: #89CA62;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: fixed;
    right: 1px;
    bottom: 1px;
}



















